body {
	font-family: Arial, sans-serif;
}

#resultContainer {
	margin-top: 20px;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.result {
	background-color: #f0f0f0;
	padding: 10px;
	border-bottom: 1px solid #ccc;
}

.result:last-child {
	border-bottom: none;
}